<h1>Listing project_states</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_states.each do |project_state| %>
      <tr>
        <td><%= project_state.name %></td>
        <td><%= link_to 'Show', project_state %></td>
        <td><%= link_to 'Edit', edit_project_state_path(project_state) %></td>
        <td><%= link_to 'Destroy', project_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project state', new_project_state_path %>
