<%= form_for(@univ_unit) do |f| %>
  <% if @univ_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@univ_unit.errors.count, "error") %> prohibited this univ_unit from being saved:</h2>

      <ul>
      <% @univ_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
