<div class="common-form">
<%= form_for(@usage_type) do |f| %>
  <% if @usage_type.errors.any? %>
    <div id="error_explanation">
      <%= error_messages_for @usage_type %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
