<div class="common-form">
<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <%= error_messages_for @employee %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= fields_for :user, @employee.user do |u_f| %>
    <div class="field">
      <%= u_f.label :account %><br />
      <%= u_f.text_field :account %>
    </div>
    <div class="field">
      <%= u_f.label :password %><br>
      <%= u_f.password_field :password %>
    </div>
   
    <div class="field">
      <%= u_f.label :password_confirmation %><br>
      <%= u_f.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit '提交'%>
  </div>
<% end %>
</div>