<%= content_for :nav_bar_title do %>
<% end %>


<div id = "manage-grid-up">
  <div class="manage-grid-left">      
    <ul>
      <li class="title">项目</li>
      <% Project.all.each do |pro| %>
        <li><%= link_to pro.name, pro %></li>
      <% end %>
      <br>
      <%= link_to "添加项目", new_project_path %>
    </ul>
  </div>
  <span class="manage-grid-vertical-hr"></span>
  <div class="manage-grid-right">2
  </div>
</div>
<hr class="manage-grid-hr"/>
<div id = "manage-grid-down">
  <div class="manage-grid-left">3</div>
  <span class="manage-grid-vertical-hr"></span>
  <div class="manage-grid-right">4</div>
</div>



<!-- <div>
  <div id="manage-subjects">
    <div class="manage-subject">
      <ul>
      <li class="title">项目</li>
      <% Project.all.each do |pro| %>
        <li><%= link_to pro.name, pro %></li>
      <% end %>
      <br>
      <%= link_to "添加项目", new_project_path %>
    </ul>
    </div>
    <div class="manage-subject">
        <ul>
      <li class="title">客户</li>
      <% @current_user.customers.each do |cus| %>
        <li><%= link_to cus.name, cus %></li>
      <% end %>
      <br>
      <%= link_to "添加客户", employee_add_customer_path %>
      </ul>
    </div>
  </div>
</div> -->
