<%= content_for :nav_bar_title do %>
<% end %>


<div class="manage-grid" id = "manage-grid-up">
  <div class="manage-grid-left">      
    <ul>
      <div class="title"><span class="title-text">近期项目</span><%= link_to "添加项目", new_project_path %></div>
      <div class="list-cells">
        <% @recent_projects.each do |pro| %>
          <div class="list-cell-line"><div class="list-cell"><%= link_to pro.name, pro %></div><span class="date"><%= pro.create_date %></span></div>
        <% end %>
      </div>
    </ul>
  </div>
  <span class="manage-grid-vertical-hr"></span>
  <div class="manage-grid-right">    
    <ul>
      <div class="title"><span class="title-text">近期客户</span><%= link_to "添加项目", new_project_path %></div>
      <div class="list-cells">
        <% @recent_customers.each do |cus| %>
          <li class="list-cell"><%= link_to cus.name!, cus %> |<%= cus.class.ch %>  |<%= cus.created_at! %></li>
        <% end %>
      </div>
    </ul>
  </div>
</div>
<!-- <hr class="manage-grid-hr"/> -->
<div class="manage-grid" id = "manage-grid-down">
  <div class="manage-grid-left">3</div>
  <span class="manage-grid-vertical-hr"></span>
  <div class="manage-grid-right">4</div>
</div>



<!-- <div>
  <div id="manage-subjects">
    <div class="manage-subject">
      <ul>
      <li class="title">项目</li>
      <% Project.all.each do |pro| %>
        <li><%= link_to pro.name, pro %></li>
      <% end %>
      <br>
      <%= link_to "添加项目", new_project_path %>
    </ul>
    </div>
    <div class="manage-subject">
        <ul>
      <li class="title">客户</li>
      <% @current_user.customers.each do |cus| %>
        <li><%= link_to cus.name, cus %></li>
      <% end %>
      <br>
      <%= link_to "添加客户", employee_add_customer_path %>
      </ul>
    </div>
  </div>
</div> -->
