<p id="notice"><%= notice %></p>

<p>
  <strong>姓名:</strong>
<%= @employee.name %><br>
  <strong>账号:</strong>
  <%= @employee.user.account %>
</p>

<%= link_to '编辑', edit_employee_path(@employee) %> |
<%= link_to '返回', employees_path %>
