<div class="common-form">
<%= form_for(@self_customer) do |f| %>
  <% if @self_customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@self_customer.errors.count, "error") %> prohibited this individual_customer from being saved:</h2>

      <ul>
      <% @self_customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for :customer, @self_customer.customer do |c_f| %>
    <div class="field">
      <%= c_f.label :姓名 %><br>
      <%= c_f.text_field :name %>
    </div>
    <div class="field">
      <%= c_f.label :专员 %><br>
      <%= c_f.select :employee_id, options_from_collection_for_select(Employee.all, :id, :name_with_id) %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit '提交'%>
  </div>
<% end %>
</div>
