<div class="common-form">
<%= form_for(@self_customer) do |f| %>
  <% if @self_customer.errors.any? %>
    <div id="error_explanation">
      <%= error_messages_for @self_customer %>
    </div>
  <% end %>

  <%= f.fields_for :customer do |c_f| %>
    <%= render 'customers/form', {f: c_f, of: f} %>
  <% end %>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, options_for_select({'男'=>1,'女'=>0}, default_gender)%>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday, start_year: 1900 %>
  </div>
  <div class="field">
    <%= f.label :nation %><br>
    <%= f.text_field :nation %>
  </div>
  <div class="field">
    <%= f.label :native_place %><br>
    <%= f.text_field :native_place %>
  </div>
  <div class="field">
    <%= f.label :corporate %><%= link_to "添加公司", new_corporate_customer_path, target: :_blank %><br>
    <%= f.select :corporate_customer_id, CorporateCustomer.all_spy.collect{ |e| [e.name_with_py!, e.id] }, { include_blank: true }%>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit '提交'%>
  </div>
<% end %>
</div>
