<h1>个人客户列表</h1>

<table>
  <thead>
    <tr>
      <th>姓名</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @self_customers.each do |individual_customer| %>
      <tr>
        <td><%= individual_customer.customer %></td>
        <td><%= link_to '显示', individual_customer %></td>
        <td><%= link_to '编辑', edit_individual_customer_path(individual_customer) %></td>
        <td><%= link_to '删除', individual_customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建个人客户', new_individual_customer_path %>
