<%= content_for :nav_bar_function_area do %>
  <% if @current_user.user.user_type.downcase == :employee.to_s %>
    <%= link_to '编辑', edit_individual_customer_path(@self_customer) %> |
    <%= link_to '返回', employee_manage_customer_path %>
  <% end %>
<% end %>

<%= content_for :nav_bar_title do %>
    客户信息
<% end %>

<!-- <div id="project-info-header"></div> -->
<div id="project-info">
  <div class="info-block">
    <p>
      <div><strong>姓名：</strong> <span><%= @self_customer.customer.name %></span></div>
      <div><strong>性别：</strong> <span><%= "空" %></span></div>
      <div><strong>民族：</strong> <span><%= "空" %></span></div>
      <div><strong>出生日期：</strong> <span><%= "空" %></span></div>
      <div><strong>籍贯：</strong> <span><%= "空" %></span></div>
      <div><strong>现居地：</strong> <span><%= "空" %></span></div>
    </p>
    <p>
      <div><strong>电话：</strong> <span><%= "空" %></span></div>
      <div><strong>邮箱：</strong> <span><%= "空" %></span></div>
      <div><strong>传真：</strong> <span><%= "空" %></span></div>
      <div><strong>邮编：</strong> <span><%= "空" %></span></div>
    </p>
    <p>
      <div><strong>联系人：</strong> <span><%= "空" %></span></div>
      <div><strong>电话：</strong> <span><%= "空" %></span></div>
      <div><strong>邮箱：</strong> <span><%= "空" %></span></div>
      <div><strong>传真：</strong> <span><%= "空" %></span></div>
      <div><strong>邮编：</strong> <span><%= "空" %></span></div>
    </p>
  </div>
  <hr>
  <div class="info-block">
    <p>
      <div><strong>校友信息：</strong> <span>数学研究所</span></div>
    </p>
  </div>
  <hr>
  <div class="info-block">
    <p>
      <div><strong>来往记录：</strong> <span><%= "空" %></span></div>
    </p>
  </div>
</div>




<%# if @current_user.nil? %>
  <%#= link_to '编辑', edit_project_path(@project) %> 
  <%#= link_to '返回', projects_path %>
<%# end %>
