<div class="common-form">
<%= form_for([@customer, @contact_record]) do |f| %>
  <% if @contact_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_record.errors.count, "error") %> prohibited this contact_record from being saved:</h2>

      <ul>
      <% @contact_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time, start_year: default_start_year %>
  </div>
  <div class="field">
    <%# f.label :major_participants %><br>
    <%# f. :major_participants%>
  </div>
  <div class="field">
    <%# f.label :other_participants %><br>
    <%# f. :other_participants%>
  </div>
<!--   <div>  
    <button data-target="select-customer" data-toggle="modal">选择客户</button>
  </div>
  <div id='customer-result'></div>
  <div>  
    <button data-target="select-user" data-toggle="modal">选择人员</button>
  </div> -->
  <div id='user-result'></div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :conclusion %><br>
    <%= f.text_area :conclusion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>


<!-- <div class="modal-dialog" id="select-customer">
  <span class='close' data-dismiss="modal">X</span>
  <div class='select-panel-content'>
    <%= render 'customers/search' %>
  </div>
</div>
<div class="modal-dialog" id="select-user">
  <span class='close' data-dismiss="modal">X</span>
  <div class='select-panel-content'>
    <%= render 'users/search' %>
  </div>
</div> -->

<!-- <div id='controller-mark' name="<%=params[:controller]%>"></div> -->