<h1>Admin#index</h1>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= form_tag :action => "do_migrate" do %>
<b><%= label_tag 'Enter password to do the migration:' %></b><br>
<%= password_field :password,  :admin_pwd%>
<%= submit_tag "Migrate" %> 
<% end -%>

<%= form_tag :action => "rails_r" do %>
<b><%= label_tag 'Enter commands to run:' %></b><br>
<%= password_field :password,  :admin_pwd%><br>
<%= text_area :rails,  :r%><br>
<%= submit_tag "Submit" %> 
<% end -%>

<% if @output %>
<pre>
<%= @output %>
</pre>
<% end %>