<h1>Listing teacher_titles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teacher_titles.each do |teacher_title| %>
      <tr>
        <td><%= teacher_title.name %></td>
        <td><%= link_to 'Show', teacher_title %></td>
        <td><%= link_to 'Edit', edit_teacher_title_path(teacher_title) %></td>
        <td><%= link_to 'Destroy', teacher_title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher title', new_teacher_title_path %>
