<div class="common-form">

<%= form_for(@form_parm) do |f| %>
  <% if @usage_record.errors.any? %>
    <div id="error_explanation">
      <%= error_messages_for @usage_record %>
    </div>
  <% end %>

  <% if current_project.endowment %>
  <fieldset>
      <legend>利息</legend>
      <%= f.fields_for :interest_fund, @usage_record.interest_fund || UsageRecord::UsedFund.new do |i_f| %>
        <%= i_f.fields_for :fund do |f_f| %>
        <div class="field">
          <%= check_box_tag :'use[interest]', '1', true %>
          <%= f_f.label :amount %>
          <%= f_f.text_field :amount %>
        </div>
        <% end %>   
      <% end %>
  </fieldset>
  <fieldset>
    <legend>本金</legend>
     <%= f.fields_for :principle_fund, @usage_record.interest_fund || UsageRecord::UsedFund.new do |p_f| %>
        <%= p_f.fields_for :fund do |f_f| %>
        <div class="field">
          <%= check_box_tag :'use[principle]' %>
          <%= f_f.label :amount %>
          <%= f_f.text_field :amount %>
        </div>
        <% end %>
      <% end %>
 </fieldset>
  <% else %>
      <%= hidden_field :use, :principle, value: 1 %>
      <%= f.fields_for :principle_fund, @usage_record.interest_fund || UsageRecord::UsedFund.new do |p_f| %>
        <%= p_f.fields_for :fund do |f_f| %>
        <div class="field">
          <%= f_f.label :amount %><br />
          <%= f_f.text_field :amount %>
        </div>
        <% end %>
      <% end %>
  <% end %>
  <div class="field">
    <%= f.label :fund_time %><br />
    <%= datetime_select :fund_time, :time, start_year: default_start_year, default: DateTime.now.beginning_of_day %>
  </div>
  <div class="field">
    <%= f.label :exec_unit %><br />
    <%= f.select(:exec_unit_id, UnivUnit.all_spy.collect{ |e| [e.name_with_py, e.id] }, { include_blank: true }) %>
  </div>
  <div class="field">
    <%= f.label :exec_manager %> <%= link_to '新建', new_univ_unit_manager_path, target: :_blank  %><br />
    <%= f.select(:exec_manager_id, UnivUnitManager.all_spy.collect{ |e| [e.name_with_unit, e.id] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <%= f.label :benefit_unit %><br />
    <%= f.select(:benefit_unit_id, UnivUnit.all_spy.collect{ |e| [e.name_with_py, e.id] }, { include_blank: true }) %>
  </div>
  <div class="field">
    <%= f.label :benefit_manager %> <%= link_to '新建', new_univ_unit_manager_path, target: :_blank  %><br />
    <%= f.select(:benefit_manager_id, UnivUnitManager.all_spy.collect{ |e| [e.name_with_unit, e.id] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <%= f.label :usage_type %> <%= link_to '新建', new_usage_type_path, onp %><br />
    <%= f.select( :usage_type_id, UsageType.all.collect {|u| [ u.name, u.id ] }, { include_blank: true } ) %>
  </div>

  <div class="field">
    <%= f.label :usage_comment %><br />
    <%= f.text_area :usage_comment %>
  </div>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.hidden_field(:project_id) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>