<div class="common-form">

<%= form_for([current_project, @usage_record]) do |f| %>
  <% if @errors && @errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@errors.count, "error") %> prohibited this usage_record from being saved:</h2>

      <ul>
      <% @errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_project.endowment %>
  <fieldset>
      <legend>利息</legend>
      <%= f.fields_for :interest_fund do |i_f| %>
        <%= i_f.fields_for :fund do |f_f| %>
        <div class="field">
          <%= check_box_tag :'use[interest]', '1', true %>
          <%= f_f.label '数额' %>
          <%= f_f.text_field :amount %>
        </div>
        <% end %>   
      <% end %>
  </fieldset>
  <fieldset>
    <legend>本金</legend>
     <%= f.fields_for :principle_fund do |p_f| %>
        <%= p_f.fields_for :fund do |f_f| %>
        <div class="field">
          <%= check_box_tag :'use[principle]' %>
          <%= f_f.label '数额' %>
          <%= f_f.text_field :amount %>
        </div>
        <% end %>
      <% end %>
 </fieldset>
  <% else %>
      <%= f.fields_for :principle_fund do |p_f| %>
        <%= p_f.fields_for :fund do |f_f| %>
        <div class="field">
          <%= f_f.label '数额' %><br />
          <%= f_f.text_field :amount %>
        </div>
        <% end %>
      <% end %>
  <% end %>
  <div class="field">
    <%= label_tag '时间' %><br />
    <%= datetime_select :fund_time, :time %>
  </div>
  <div class="field">
    <%= f.label '执行单位' %><br />
    <%= f.select(:exec_unit_id, UnivUnit.all.collect {|u| [ u.name, u.id ] }, { include_blank: true }) %>
  </div>
  <div class="field">
    <%= f.label '执行人' %><br />
    <%= f.select(:exec_manager_id, UnivUnitManager.all.collect {|u| [ u.name, u.id ] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <%= f.label '受益单位' %><br />
    <%= f.select(:benefit_unit_id, UnivUnit.all.collect {|u| [ u.name, u.id ] }, { include_blank: true }) %>
  </div>
  <div class="field">
    <%= f.label '受益单位负责人' %><br />
    <%= f.select(:benefit_manager_id, UnivUnitManager.all.collect {|u| [ u.name, u.id ] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <%= f.label '用途' %><br />
    <%= f.select( :usage_type_id, UsageType.all.collect {|u| [ u.name, u.id ] }, { include_blank: true } ) %>
  </div>



  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>

</div>