<div class="common-form">

<%= form_for([current_project, @usage_record]) do |f| %>
  <% if @usage_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usage_record.errors.count, "error") %> prohibited this usage_record from being saved:</h2>

      <ul>
      <% @usage_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :fund, @usage_record.fund do |f_f| %>
    <div class="field">
      <%= f_f.label '数额' %><br />
      <%= f_f.text_field :amount %>
    </div>
    <div class="field">
      <%= f_f.label '时间' %><br />
      <%= f_f.datetime_select :time %>
    </div>
    <% if current_project.endowment %>
      <div class="field">
        <%= f_f.radio_button :fund_type_id, FundType.where(name: '本金').first.id %> <%= label_tag :本金 %>
        <%= f_f.radio_button :fund_type_id, FundType.where(name: '利息').first.id  %> <%= label_tag :利息 %>
      </div>
    <% else %>
      <%= hidden_field :actual_fund, :fund_type_id %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label '执行单位' %><br />
    <%= f.select(:exec_unit_id, UnivUnit.all.collect {|u| [ u.name, u.id ] }, { include_blank: true }) %>
  </div>
  <div class="field">
    <%= f.label '执行人' %><br />
    <%= f.select(:exec_manager_id, UnivUnitManager.all.collect {|u| [ u.name, u.id ] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <%= f.label '受益单位' %><br />
    <%= f.select(:benefit_unit_id, UnivUnit.all.collect {|u| [ u.name, u.id ] }, { include_blank: true }) %>
  </div>
  <div class="field">
    <%= f.label '受益单位负责人' %><br />
    <%= f.select(:benefit_manager_id, UnivUnitManager.all.collect {|u| [ u.name, u.id ] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <%= f.label '用途' %><br />
    <%= f.select( :usage_type_id, UsageType.all.collect {|u| [ u.name, u.id ] }, { include_blank: true } ) %>
  </div>
  
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>

</div>