<%= content_for :nav_bar_function_area do %>
  <% if current_user.user_type == :Employee.to_s %>
    <%= link_to '返回项目', @project %>
  <% end %>
<% end %>
<div>
  <h4>使用说明</h4>
  <%= simple_format @usage_record.usage_comment %>
  <h4>备注</h4>
  <%= @usage_record.comment %>
</div>
<hr>
<div>  
  <h4>文件</h4>
  <% @attachments.each do |a| %>
  <p><%= link_to a.filename, a.file.url %><span class='delete-attachment'><%= link_to t('helpers.link.delete.name'), attachment_usage_record_path(@usage_record, a), method: :delete, data: { confirm: t('helpers.link.delete.confirm') } %></span></p>
  <% end %>
  <div><%= link_to '新建', new_attachment_usage_record_path %></div>
</div>