
  <div class="info-block">
    <p>
      <div><strong>国家：</strong> <span><%= if (c=@self_customer.country!) then c.name end%></span></div>
      <div><strong>省份：</strong> <span><%= if (s=@self_customer.state!) then s.name end%></span></div>
      <div><strong>城市：</strong> <span><%= if (c=@self_customer.city!) then c.name end%></span></div>
      <div><strong>地址：</strong> <span><%= @self_customer.address! %></span></div>
    </p>
    <p>
      <div><strong>电话：</strong> <span><%= @self_customer.tel! %></span></div>
      <div><strong>邮箱：</strong> <span><%= @self_customer.email! %></span></div>
      <div><strong>传真：</strong> <span><%= @self_customer.fax! %></span></div>
      <div><strong>邮编：</strong> <span><%= @self_customer.postcode! %></span></div>
    </p>
    <p>
      <div><strong>备注：</strong> <span><%= simple_format @self_customer.comment! %></span></div>
    </p>
  </div>
