<div id="project-info">
  <div class="info-block">
    <p>
      <div><strong><%= @self_customer.class.human_attribute_name :name %>：</strong> <span><%= @self_customer.name! %></span></div>
      <div><strong>创建者：</strong> <span><%= current_people.name %></span></div>
    </p>
    <p>
      <div><strong>电话：</strong> <span><%= "空" %></span></div>
      <div><strong>邮箱：</strong> <span><%= "空" %></span></div>
      <div><strong>传真：</strong> <span><%= "空" %></span></div>
      <div><strong>邮编：</strong> <span><%= "空" %></span></div>
    </p>
    <p>
      <div><strong>联系人：</strong> <span><%= "空" %></span></div>
      <div><strong>电话：</strong> <span><%= "空" %></span></div>
      <div><strong>邮箱：</strong> <span><%= "空" %></span></div>
      <div><strong>传真：</strong> <span><%= "空" %></span></div>
      <div><strong>邮编：</strong> <span><%= "空" %></span></div>
    </p>
  </div>
  <hr>
  <div class="info-block">
    <p>
      <div><strong>来往记录：</strong>
        <% @self_customer.contact_records!.each do |cr| %>
          <li><%= link_to l(cr.time), [@self_customer.customer, cr] %></li>
        <% end %>
      </div>
      <%= link_to :new, new_customer_contact_record_path(@self_customer.customer) %>
    </p>
  </div>
</div>