<div class="info-block">
  <table class="employee-data-table">
  <strong>捐贈记录：</strong>
  <tbody>
    <tr>
      <th>项目</th>
      <th>金额</th>
      <th>日期</th>
    </tr>
    <% @self_customer.donation_records!.each do |dr| %>
      <tr>
        <td><%= link_to dr.project.name, dr.project %></td>
        <td class="currency-show"><%= money_show dr.actual_amount %></td>
        <td><%= l_d dr.plan_fund.time %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p></p>
  <table class="employee-data-table">
  <strong>物品捐贈记录：</strong>
  <tbody>
    <tr>
      <th>项目</th>
      <th>价值</th>
      <th>日期</th>
    </tr>
    <% @self_customer.item_donation_records!.each do |dr| %>
      <tr>
        <td><%= link_to dr.project.name, dr.project %></td>
        <td><%= money_show dr.total_price %></td>
        <td><%= l_d dr.time %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if @self_customer.is_a?(IndividualCustomer) %>
    <table class="employee-data-table">
    <strong>单位捐贈记录：</strong>
    <tbody>
      <tr>
        <th>项目</th>
        <th>金额</th>
        <th>日期</th>
        <th>角色</th>
      </tr>
      <% ( (c=@self_customer.corporate) ? c.donation_records! : [] ).each do |dr| %>
        <tr>
          <td><%= link_to dr.project.name, dr.project %></td>
          <td class="currency-show"><%= money_show dr.plan_fund.amount %></td>
          <td><%= l_d dr.plan_fund.time %></td>
          <td><%= (lm=c.link_men.where(individual_customer_id: @self_customer.id).first) ? lm.type.name_t : '无' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <p></p>
    <div><strong>团体捐贈记录：</strong></div>
    <div>
      <p></p>
      <% @self_customer.customer_groups!.each do |g| %>
        <%= g.name! %>
        <table class="employee-data-table">
        <tbody>
          <tr>
            <th>项目</th>
            <th>金额</th>
            <th>日期</th>
          </tr>
          <% g.donation_records!.each do |dr| %>
            <tr>
              <td><%= link_to dr.project.name, dr.project %></td>
              <td class="currency-show"><%= money_show dr.plan_fund.amount %></td>
              <td><%= l_d dr.plan_fund.time %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>


  </div>
  <hr>
  <div class="info-block">
    <p>
      <div><strong>来往记录：</strong>
        <% @self_customer.contact_records!.each do |cr| %>
          <li><%= link_to l(cr.time), [@self_customer.customer, cr] %></li>
        <% end %>
      </div>
      <%= button_to '添加', new_customer_contact_record_path(@self_customer.customer), method: :get %>
    </p>
  </div>