
<%= form_for(@self_customer) do |f| %>
  <% if @self_customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@self_customer.errors.count, "error") %> prohibited this customer_group from being saved:</h2>

      <ul>
      <% @self_customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :customer do |c_f| %>
    <%= render 'customers/form', :f => c_f %>
  <% end %>

  <div>  
    <button data-target="myModal" data-toggle="modal">选择客户</button>
  </div>

  <div id='group-customer-result'></div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div class="modal-dialog" id="myModal">
  <span class='close' data-dismiss="modal">X</span>
  <div id='customer-select-panel-content'>
    <%= render 'customers/search' %>
  </div>
</div>

<div id='controller-mark' name="<%=params[:controller]%>"></div>
