<%= content_for :nav_bar_function_area do %>
  <% if current_user.user_type.downcase == :employee.to_s %>
    <%= link_to '编辑', edit_customer_group_path(@self_customer) %> |
    <%= link_to '返回', employee_manage_customers_path %> |
    <%= link_to '删除', customer_group_path(@self_customer), method: :delete, data: { confirm: t('helpers.link.delete.confirm') } %>
  <% end %>
<% end %>
<h2>团体名称： <%= @self_customer.name! %></h2>

<table>
  <div><small>创建者： <span><%= link_to current_people.name, current_user %></span></small></div>
  <h4>团体成员</h4>
  <thead>
    <tr>
      <th>姓名</th>
<!--       <th>客户类型</th>
      <th>负责人</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @self_customer.customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, customer %></td>
        <td><%= link_to '删除', [@self_customer, customer], method: :delete, data: { confirm: t('helpers.link.delete.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
