<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :customer_type %><br>
    <%= f.select :customer_type_id, options_from_collection_for_select(CustomerType.all, :id, :type_name) %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.select :employee_id, options_from_collection_for_select(Employee.all, :id, :name_with_id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
