<div class="common-form">
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "名称" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "序列号" %><br>
    <%= f.text_field :serialnum %>
  </div>
  <div class="field">
    <%= f.label "创建日期" %><br>
    <%= f.date_select :create_date %>
  </div>
  <% if session[:user_type].nil? %>
  <div class="field">
    <%= f.label "创建者" %><br>
    <%= f.select :creator_id, options_from_collection_for_select(Employee.all, :id, :name_with_id) %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label "简介" %><br>
    <%= f.text_area :brief %>
  </div>
  <div class="field">
    <%= f.label "留本" %><br>
    <%= f.check_box :endowment %>
  </div>
  <div class="field">
    <%= f.label "项目级别" %><br>
    <%= f.select :project_level_id, options_from_collection_for_select(ProjectLevel.all, "id", "name")%>
  </div>
  <div class="field">
    <%= f.label "项目状态" %><br>
    <%= f.select :project_state_id, options_from_collection_for_select(ProjectState.all, "id", "name")%>
  </div>
  <div class="field">
    <%= f.label "项目类型" %><br>
    <%= f.select :project_type_id, options_from_collection_for_select(ProjectType.all, "id", "name")%>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
</div>
