<div class="common-form">
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <%= error_messages_for @project %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "名称" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "创建日期" %><br>
    <%= f.date_select :create_date, {start_year: default_start_year, end_year: default_end_year} %>
  </div>
  <div class="field">
    <%= f.label "简介" %><br>
    <%= f.text_area :brief %>
  </div>
  <div class="field">
    <%= f.label "留本" %><br>
    <% if @project.endowment %>
    <%= f.check_box :endowment, disabled: true %>
    <% else %>
    <%= f.check_box :endowment %>
    <% end %>
  </div>
  <% if @project.endowment %>
  <div class="field">
    <%= f.label "利率" %><br>
    <%= f.text_field :interest_rate %>%
  </div>
  <% end %>
  <div class="field">
    <%= f.label :create_unit %><br>
    <%= f.select :create_unit_id, UnivUnit.all_spy.collect{ |e| [e.name_with_py, e.id] }%>
  </div>
  <div class="field">
    <%= f.label :create_manager %> <%= link_to '新建', new_univ_unit_manager_path, target: :_blank  %><br>
    <%= f.select :create_manager_id, UnivUnitManager.all_spy.collect{ |e| [e.name_with_unit, e.id] }, { include_blank: true }%>
  </div>
  <div class="field">
    <%= f.label :project_level %><br>
    <%= f.select :project_level_id, ProjectLevel.all.collect{ |e| [e.name, e.id] }%>
  </div>
  <div class="field">
    <%= f.label :project_state %><br>
    <%= f.select :project_state_id, ProjectState.all.collect{ |e| [e.name, e.id] }%>
  </div>
  <div class="field">
    <%= f.label :project_type %> <%= link_to '新建', new_project_type_path, target: :_blank  %><br>
    <%= f.select :project_type_id, ProjectType.all.collect{ |e| [e.name, e.id] }%>
  </div>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
</div>
