<div class="common-form">
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "名称" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "创建日期" %><br>
    <%= f.date_select :create_date %>
  </div>
  <div class="field">
    <%= f.label "简介" %><br>
    <%= f.text_area :brief %>
  </div>
  <div class="field">
    <%= f.label "留本" %><br>
    <% if @project.endowment %>
    <%= f.check_box :endowment, disabled: true %>
    <% else %>
    <%= f.check_box :endowment %>
    <% end %>
  </div>
  <% if @project.endowment %>
  <div class="field">
    <%= f.label "利率" %><br>
    <%= f.text_field :interest_rate %>%
  </div>
  <% end %>
  <div class="field">
    <%= f.label "创建单位" %><br>
    <%= f.select :create_unit_id, options_from_collection_for_select(UnivUnit.all_spy, "id", "name_with_py")%>
  </div>
  <div class="field">
    <%= f.label "负责人" %><br>
    <%= f.select :create_manager_id, options_from_collection_for_select(UnivUnitManager.all, "id", "name")%>
  </div>
  <div class="field">
    <%= f.label "项目级别" %><br>
    <%= f.select :project_level_id, options_from_collection_for_select(ProjectLevel.all, "id", "name")%>
  </div>
  <div class="field">
    <%= f.label "项目状态" %><br>
    <%= f.select :project_state_id, options_from_collection_for_select(ProjectState.all, "id", "name")%>
  </div>
  <div class="field">
    <%= f.label "项目类型" %><br>
    <%= f.select :project_type_id, options_from_collection_for_select(ProjectType.all, "id", "name")%>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
</div>
