<h1>项目列表</h1>
<%= link_to '新项目', new_project_path %> | 
<%= link_to '级别管理', project_levels_path %>
<%= link_to '状态管理', project_states_path %>

<table>
  <thead>
    <tr>
      <th>名称</th>
      <th>序列号</th>
      <th>创建日期</th>
      <th>创建者</th>
      <th>简介</th>
      <th>总额</th>
      <th>余额</th>
      <th>留本</th>
      <th>项目级别</th>
      <th>项目状态</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.serialnum %></td>
        <td><%= project.create_date %></td>
        <td><%= project.employee.name %></td>
        <td><%= get_brief_text project.brief, 24 %></td>
        <td><%= project.gross %></td>
        <td><%= project.balance %></td>
        <td><%= project.endowment.ch %></td>
        <td><%= project.project_level %></td>
        <td><%= project.project_state %></td>
        <td><%= link_to '显示', project %></td>
        <td><%= link_to '编辑', edit_project_path(project) %></td>
        <td><%= link_to '删除', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
