<%= content_for :nav_bar_function_area do %>
  <% if current_user.user_type == :Employee.to_s %>
    <%= link_to '编辑', edit_project_path(@project) %> |
    <%= link_to '返回', employee_manage_projects_path %>
  <% end %>
<% end %>

<%= content_for :nav_bar_title do %>
    项目信息
<% end %>

<!-- <div id="project-info-header"></div> -->
<div id="project-info">
  <div class="info-block">
    <p>
      <div><strong>名称：</strong> <span><%= @project.name %></span></div>
      <div><strong>编号：</strong> <span><%= @project.serialnum %></span></div>
      <div><strong>基金类型：</strong> <span><%= @project.project_type.name %></span></div>
    </p>
    <p>
      <div><strong>基金级别：</strong> <span><%= @project.project_level.name %></span></div>
      <div><strong>是否留本：</strong> <span><%= @project.endowment_t %></span></div>
    </p>
    <p>
      <div><strong>创建日期：</strong> <span><%= @project.create_date %></span></div>
    </p>
  </div>
  <hr>
  <div class="info-block">
    <p>
      <div><strong>创建单位：</strong> <span><%= @project.create_unit.name %></span></div>
      <div><strong>负责人：</strong> <span><%= show_manager %></span></div>
    </p>
    <p>
      <div><strong>电话：</strong> <span><%= @project.create_manager.tel if @project.create_manager%></span></div>
      <div><strong>邮箱：</strong> <span><%= @project.create_manager.email if @project.create_manager%></span></div>
      <div><strong>传真：</strong> <span><%= @project.create_manager.fax if @project.create_manager%></span></div>
      <div><strong>邮编：</strong> <span><%= @project.create_manager.postcode if @project.create_manager%></span></div>
    </p>
  </div>
  <hr>
  <div class="info-block">
    <p>
      <div><strong>联系人：</strong> 
        <% @project.link_men.each do |lm| %>
          <span><%= link_to lm.name, project_link_man_path(@project.id, lm.id) %></span>
        <% end %>
        <%= link_to new_project_link_man_path(@project.id) do %>
          <%= button_tag '添加' %>
        <% end %>
      </div>
    </p>
  </div>
  <hr>
  <div class="info-block">
    <p>
      <div><strong>概要：</strong> <span><%= simple_format @project.brief %></span></div>
    </p>
    <p>
      <div><strong>备注：</strong> <span><%= simple_format @project.comment %></span></div>
    </p>
    <p>

      <div><strong>附件：</strong>
        <% @attachments.each do |a| %>
        <p><%= link_to a.filename, a.file.url %><span class='delete-attachment'><%= link_to t('helpers.link.delete.name'),attachment_project_path(@project, a), method: :delete, data: { confirm: t('helpers.link.delete.confirm') } %></span></p>
        <% end %>
        <div><%= link_to '新建', new_attachment_project_path %></div>
      </div>
    </p>
  </div>
  <% if @project.endowment %>
  <hr>
  <div class="info-block">
    <strong>利率：</strong>
    <div><%= @project.interest_rate %>%</div>
  </div>
  <% end %>
  <hr>
  <div id='project-news' class="info-block">
    <strong>新闻报道</strong>
    <div id='project-news-list'>
      <% @project.news.each_with_index do |n, i| %>
        <p><%= "#{i+1}." %><span><span class="title"><%= link_to n.title, n.link, onp %></span><span class='function-link'><%= ' '*16 %><%= link_to '编辑', edit_project_news_path(n) %>|<%= link_to '删除', n, del_confirm %></span></span> </p>
      <% end %>
    </div>
    <br>
    <%= link_to '添加', new_project_news_path(@project) %>
  </div>


  <hr>
</div>

<% endowment = @project.endowment %>

<div><b>捐赠记录</b> <%= link_to '添加', new_project_donation_record_path(@project) %></div>
  <table class="employee-data-table">
    <tbody>
      <tr>
        <th>序号 </th>
        <!-- <th>编号</th> -->
        <th>类型</th>
        <th>捐赠人</th>
        <th>币种</th>
        <th>日期</th>
        <th>计划到账</th>
        <th>实际到账</th>
        <% if endowment %>
        <th>利息收入</th>
        <% end %>
        <th>其他</th>
      </tr>

    <% @project.donation_records.each_with_index do |r, index| %>
              <tr>
        <td><%= index+1 %></td>
        <!-- <td></td> -->
        <td><%= r.donation_type.name if r.donation_type %></td>
        <td><%= link_to_with r.customer, :name %></td>
        <td><%= r.plan_fund.currency.name %></td>
        <td><%= localize_date r.plan_fund.time %></td>
        <td><%= r.plan_fund.amount %></td>
        <td><%= r.actual_amount %></td>
        <% if endowment %>
        <td><%= r.interest_amount %></td>
        <% end %>
        <td><%= link_to "详情", r %>|<%= link_to "编辑", edit_donation_record_path(r) %>|<%= link_to '删除', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>

    </tbody>
  </table>
  <div colspan="11">
    计划到账： <%= @all_plan_amount %>
    已到账总额：<%= @all_actual_amount %>
    <% if endowment %>
    利息：<%= @all_interest_amount %>
    <% end %>
  </div>

  <p></p>

<div><b>使用记录</b> <%= link_to '添加', new_project_usage_record_path(@project) %></div>
  <table class="employee-data-table">
    <tbody>
      <tr>
        <th>序号 </th>
        <th>日期</th>
        <th>执行单位</th>
        <th>执行人</th>        
        <th>受益单位</th>
        <th>负责人</th>
        <th>使用本金</th>
        <% if endowment %>
        <th>使用利息</th>
        <% end %>
        <th>用途</th>
        <th>详情</th>
        <th>其他</th>
      </tr>
      <% @project.usage_records.each_with_index do |r, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= l_d r.time %></td>
        <td><%= link_to_with r.exec_unit, :name %></td>
        <td><%= link_to_with r.exec_manager, :name %></td>        
        <td><%= link_to_with r.benefit_unit, :name %></td>
        <td><%= link_to_with r.benefit_manager, :name %></td>
        <td><%= r.principle_amount%></td>
        <% if endowment %>
        <td><%= r.interest_amount%></td>
        <% end %>
        <td><%= r.usage_type.name%></td>
        <td><%= link_to '查看', r %></td>
        <td><%= link_to '删除', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if endowment %>
  <div>本金支出：<%= @principle_used_amount %> | 利息支出 <%= @interest_used_amount %> | 本金【总余额：<%= @all_principle_rest %> 账面： <%= @actual_principle_rest %>】 | 利息余额： <%= @intereset_rest %>  </div>
  <% else %>
  <div>总支出：<%= @principle_used_amount %> 总余额：<%= @all_principle_rest %> 账面余额：<%= @actual_principle_rest %></div>
  <% end %>

<%= link_to '删除项目', project_path(@project), method: :delete, data: { confirm: t('helpers.link.delete.confirm') } %>
