<%= form_for(@customer_project) do |f| %>
  <% if @customer_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_project.errors.count, "error") %> prohibited this customer_project from being saved:</h2>

      <ul>
      <% @customer_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
