<%= content_for :nav_bar_title do %>
    客户管理
<% end %>
<%= content_for :nav_bar_function_area do %>
  <%= link_to '新客户', new_customer_path %>
<% end %>
<div>
捐赠总额<%= text_field_tag :donation_amount_min, nil, placeholder: params.direct_fetch([:filters, :wk, :donation_amount, :from]) %>-<%= text_field_tag :donation_amount_max, nil, placeholder: params.direct_fetch([:filters, :wk, :donation_amount, :to]) %><button id="donation_amount_button">筛选</button>  <% time = params.direct_fetch([:filters, filter_type.where, :time], {}) %>
  <div class='time-filter'>捐款区间<%= date_field_tag :fund_time_from, time[:from] %>-<%= date_field_tag :fund_time_to, time[:to] %></div>
</div>
<span id='clear-filter'>
  <%= link_to t('views.function.clear_filter'), nil  %>
</span>
<table class="employee-data-table">
  <tbody>
    <tr>
      <th>序号</th>
      <!-- <th>编号</th> -->
      <th>
        姓名
        <%= filter_search_tag :name %>
      </th>
      <th>
        类型
        <span class='filter'  filter-type="<%= filter_type.where %>"><%= select_tag :customer_type, 
          options_for_select({ "个人客户"=>:IndividualCustomer, "公司客户"=>:CorporateCustomer, "团体客户"=>:CustomerGroup}, 
          ((f=params.direct_fetch([:filters, filter_type.where])) ? f[:customer_type] : nil)), prompt: "全部" %></span>
      </th>
      <!-- <th>国籍</th> -->
      <th>联系电话</th>
      <th><%= gen_sort '总捐赠额', :donation_amount %></th>
      <!-- <th>评级</th> -->
      <!-- <td>其他</td> -->
      <% if current_user.account == 'fkadmin' %>
        <th>录入人</th>
      <% end %>
    </tr>
    <% counter=0 %>
    <% @customers.each do |c| %>
    <tr>
      <td><%= (counter+=1).to_s.rjust(2, '0') %></td>
      <!-- <td>X1234</td> -->
      <td><%= link_to c.name, self.send("#{c.customer_type.underscore}_path", c[:instance_id]) %></td>
      <td><%= c.customer_type.constantize.model_name.human %> <%= judge_sf(c) ? '（校友）' : '' %></td>
      <!-- <td>中国大陆</td> -->
      <td><%= c.tel %></td>
      <!-- <td><%# c.total_donation %></td> -->
      <!-- <td>5*</td> -->
      <td><%= money_show c[:donation_amount] %></td>
      <% if current_user.account == 'fkadmin' %>
        <td><%= c.creator.name %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @customers %>