<%= render 'fund_header' %>
 
<% if params[:type].nil? || params[:type]=='actual' %>
<table class="fund-data-table">
  <% time = params.direct_fetch([:filters, :time], {}) %>
  <div class='time-filter'><%= date_field_tag :fund_time_from, time[:from] %>-<%= date_field_tag :fund_time_to, time[:to] %></div>
  <tbody>
    <tr>
      <th><%= gen_sort '项目', :project %></th>
      <th>
        <%= gen_sort '金额', :amount %>
        <span class='filter'><%= select_tag :fund_direction, 
          options_for_select({ "收入"=>:in, "支出"=>:out}, 
          ((f=params[:filters]) ? f[:fund_direction] : nil)), prompt: "全部" %></span>
      </th>
      <th><%= gen_sort '时间', :time %> </th>
    </tr>
    
  <% @actual_funds.each do |fund| %>
    <tr>
      <td><%= link_to fund.project.name, fund.project %></td>
      <%= decorate_amount fund.real_amount %>
      <td><%= l_d fund.time %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<table class="fund-data-table">
  <% time = params.direct_fetch([:filters, :time], {}) %>
  <div class='time-filter'><%= date_field_tag :fund_time_from, time[:from] %>-<%= date_field_tag :fund_time_to, time[:to] %></div>
  <tbody>
    <tr>
      <th><%= gen_sort '项目', :project %></th>
      <th><%= gen_sort '金额', :amount %></th>
      <th><%= gen_sort '时间', :time %></th>
    </tr>

  <% @plan_funds.each do |fund| %>
    <tr>
      <td><%= link_to fund.project.name, fund.project %></td>
      <td><%= fund.amount %></td>
      <td><%= l_d fund.time %></td>
    </tr>
  <% end %>

  </tbody>
</table>
<% end %>
