<h1>资金页面</h1>
<%= link_to '实际资金', url_for(:only_path => false, type: :actual) %>|
<%= link_to '计划资金', url_for(:only_path => false, type: :plan) %>
<% if params[:type].nil? || params[:type]=='actual' %>
<table class="fund-data-table">
  <tbody>
    <tr>
      <th><%= gen_sort '项目', :project %></th>
      <th>
        <%= gen_sort '金额', :amount %>
        <span class='filter'><%= select_tag :fund_direction, 
          options_for_select({ "收入"=>:in, "支出"=>:out}, 
          ((f=params[:filters]) ? f[:fund_direction] : nil)), prompt: "全部" %></span>
      </th>
      <th><%= gen_sort '时间', :time %></th>
    </tr>

  <% @actual_funds.each do |fund| %>
    <tr>
      <td><%= link_to fund.project.name, fund.project %></td>
      <%= decorate_amount fund.real_amount %>
      <td><%= l_d fund.time %></td>
    </tr>
  <% end %>

  </tbody>
</table>
<% else %>
<table class="fund-data-table">
  <tbody>
    <tr>
      <th><%= gen_sort '项目', :project %></th>
      <th><%= gen_sort '金额', :amount %></th>
      <th><%= gen_sort '时间', :time %></th>
    </tr>

  <% @plan_funds.each do |fund| %>
    <tr>
      <td><%= link_to fund.project.name, fund.project %></td>
      <td><%= fund.amount %></td>
      <td><%= l_d fund.time %></td>
    </tr>
  <% end %>

  </tbody>
</table>
<% end %>
