<%= render 'search_form' %>
<table>
  <tbody>
    <tr>
      <th>所属项目</th>
      <th>时间</th>
      <th>类型</th>
      <th>所在记录</th>
    </tr>
    <% @results.each do |f| %>
    <tr>
      <td><%= link_to_with f.fund_instance.project, :name %></td>
      <td><%= l_d f.time %></td>
      <td><%= f.fund_instance.class.model_name.human %></td>
      <td><%= link_to '查看', f.fund_instance.record %></td>
    </tr>
    <% end %>
  </tbody>
</table>
