<%= content_for :nav_bar_title do %>
    项目管理
<% end %>

<%= content_for :nav_bar_function_area do %>
  <%= link_to '新项目', new_project_path %>   
<% end %>

<p></p>
<% time = params.direct_fetch([:filters, filter_type.where, :create_date], {}) %>
<div class='time-filter'><%= date_field_tag :project_time_from, time[:from] %>-<%= date_field_tag :project_time_to, time[:to] %></div>
<div>
  <span><strong>总金额</strong> <%= money_show @total_amount %></span> | 
  <span><strong>总余额</strong> <%= money_show @rest_amount %></span>
</div>
<span id='clear-filter'>
  <%= link_to t('views.function.clear_filter'), nil  %>
</span>
<table class="employee-data-table">
  <tbody>
    <tr>
      <th>序号</th>
      <!-- <th>编号</th> -->
      <th>名称
        <%= filter_search_tag :name %>
      </th>
      <th>
        类型 
        <%= filter_tag Project, :project_type, filter_type.where %>
      </th>
      <th>
        级别
        <%= filter_tag Project, :project_level, filter_type.where %>
      </th>
      <th>
        管理单位
        <%= filter_tag Project, :create_unit, filter_type.where %>
      </th>      
      <th>
        是否留本
        <span class='filter' filter-type="<%= filter_type.where %>"><%= select_tag :endowment, options_for_select({"是" => true, "否" => false}, default_filter_val(:endowment, filter_type.where)), prompt: "全部" %></span>
      </th>
      <th><%= gen_sort '总额', :total_amount %></th>
      <th><%= gen_sort '余额', :rest_amount %></th>
      <th>
        <%= gen_sort '创建日期', :create_date %>
      </th>
      <th>
        <%= gen_sort '重要日期', :necessary_date %>
      <th>
    </tr>
    <% counter=0 %>
    <% @projects.each do |p| %>
    <tr>
      <td><%= (counter+=1).to_s.rjust(2, '0') %></td>
      <td><a href="/projects/<%= p.id %>"><%= p.name %></a></td>
      <td><%= p[:type] %></td>
      <td><%= p[:level] %></td>
      <td><%= p[:unit] %></td>
      <td><%= p.endowment_t %></td>
      <td class="currency-show"><%= money_show p[:total_amount] %></td>
      <td class="currency-show"><%= money_show p[:rest_amount] %></td>
      <td><%= l p.create_date %></td>
      <td class="necessary_date_cell">
        <span class="necessary_date">
          <%= p[:necessary_date] %>
        </span>
        <span class="necessary_date_comment">
          <%=  p[:necessary_date_comment] %>
        </span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @projects %>