<h1>Listing fund_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fund_types.each do |fund_type| %>
  <tr>
    <td><%= fund_type.name %></td>
    <td><%= link_to 'Show', fund_type %></td>
    <td><%= link_to 'Edit', edit_fund_type_path(fund_type) %></td>
    <td><%= link_to 'Destroy', fund_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fund type', new_fund_type_path %>
