<div class="common-form">
<% @actual_fund = @fund %>
<%= form_for([@donation_record_actual.project, @donation_record_actual, @actual_fund]) do |f| %>
  <% if @actual_fund.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actual_fund.errors.count, "error") %> prohibited this fund from being saved:</h2>

      <ul>
      <% @actual_fund.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :金额 %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :时间 %><br />
    <%= f.datetime_select :time %>
  </div>

  <%= hidden_field_tag :donation_record_id, @donation_record_actual.id %>

  <% if @donation_record_actual.project.endowment %>
    <div class="field">
      <%= f.radio_button :fund_type_id, FundType.where(name: '本金').first.id %> <%= label_tag :本金 %>
      <%= f.radio_button :fund_type_id, FundType.where(name: '利息').first.id  %> <%= label_tag :利息 %>
    </div>
  <% else %>
    <%= hidden_field :actual_fund, :fund_type_id %>
  <% end %>

  <div class="field">
    <%= f.label :备注 %><br />
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit '提交'%>
  </div>
  
<% end %>
</div>