<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project_news.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @project_news.link %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @project_news.comment %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_news.project %>
</p>

<%= link_to 'Edit', edit_project_news_path(@project_news) %> |
<%= link_to 'Back', project_news_index_path %>
