<%= render 'employee/manage/fund_header' %>
<table class="fund-data-table">
  <tbody>
    <tr>
      <th>单位</th>
      <th><%= gen_sort '计划资金', :total_amount %></th>
      <th><%= gen_sort '到账资金', :actual_amount %></th>
      <th><%= gen_sort '利息', :interest_amount %></th>
      <th><%= gen_sort '支出', :total_used_amount %></th>
    </tr>

  <% @manage_units.each do |u| %>
    <tr>
      <td><%= link_to u.name, u %></td>
      <td><%= u.total_amount %></td>
      <td><%= u.actual_amount %></td>
      <td><%= u.interest_amount %></td>
      <td><%= u.total_used_amount %></td>
    </tr>
  <% end %>

  </tbody>
</table>