<div class="common-form">
<%= form_for(@univ_unit_manager) do |f| %>
  <% if @univ_unit_manager.errors.any? %>
    <div id="error_explanation">
      <%= error_messages_for @univ_unit_manager %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :postcode %><br>
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :univ_unit %><br />
    <%= f.select(:univ_unit_id, UnivUnit.all_spy.collect{ |e| [e.name_with_py, e.id] } )%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>