<h1>学校人员列表</h1>
<%= link_to '新建', new_univ_unit_manager_path %>
<div class="common-list">
<table>
  <tr>
    <th>姓名</th>
    <th>单位</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @univ_unit_managers.each do |univ_unit_manager| %>
  <tr>
    <td><%= univ_unit_manager.name %></td>
    <td><%= univ_unit_manager.univ_unit.name %></td>
    <td class='list-function'><%= link_to '显示', univ_unit_manager %></td>
    <td class='list-function'><%= link_to '编辑', edit_univ_unit_manager_path(univ_unit_manager) %></td>
    <td class='list-function'><%= link_to '删除', univ_unit_manager, del_confirm %></td>
  </tr>
<% end %>
</table>
</div>


