<h1>Listing univ_unit_managers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Univ unit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @univ_unit_managers.each do |univ_unit_manager| %>
  <tr>
    <td><%= univ_unit_manager.name %></td>
    <td><%= univ_unit_manager.univ_unit.name %></td>
    <td><%= link_to 'Show', univ_unit_manager %></td>
    <td><%= link_to 'Edit', edit_univ_unit_manager_path(univ_unit_manager) %></td>
    <td><%= link_to 'Destroy', univ_unit_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Univ unit manager', new_univ_unit_manager_path %>
