<div id="sign-in">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%# https://github.com/plataformatec/devise/wiki/How-To:-Display-a-custom-sign_in-form-anywhere-in-your-app %>
  <fieldset>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {'data-abide' => true}) do |f| %>
      <div>
        <%= f.label :account %>
        <%= f.text_field :account, required: true %> 
        <small class="error"><%= t('activerecord.errors.models.user.attributes.account.blank') %></small>
      </div> 
      <div>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", required: true %>
        <small class="error"><%= t('activerecord.errors.models.user.attributes.password.blank') %></small>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit(nil, role: :button, :class => 'button right') %></div>
  <% end %>
  </fieldset>

</div>