<div class="common-form">

<%= form_for([@customer, @univ_experience]) do |f| %>
  <% if @univ_experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@univ_experience.errors.count, "error") %> prohibited this donation_record from being saved:</h2>

      <ul>
      <% @univ_experience.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_number %><br />
    <%= f.text_field :student_number %>
  </div>

  <div class="field">
    <%= f.label :attendance_date %><br />
    <%= f.date_select :attendance_date, start_year: Date.today.year - 80 %>
  </div>

  <div class="field">
    <%= f.label :graduated_date %><br />
    <%= f.date_select :graduated_date, start_year: Date.today.year - 80 %>
  </div>

  <div class="field">
    <%= f.label :degree %><br />
    <%= f.select(:degree_id, Degree.all.collect {|e| [ e.name, e.id ] }) %>
  </div>

  <div class="field">
    <%= f.label :univ_unit %><br />
    <%= f.select(:univ_unit_id, UnivUnit.all.collect {|e| [ e.name, e.id ] }) %>
  </div>

  <div class="field">
    <%= f.label :major %><br />
    <%= f.select(:major_id, Major.all.collect {|e| [ e.name, e.id ] }) %>
  </div>
  
  <div class="actions">
    <%= f.submit '提交'%>
  </div>
<% end %>

</div>