<p id="notice"><%= notice %></p>

<h1>资金——捐赠记录（新建）</h1>
<p>
  <strong><%= Project.model_name.human %>:</strong>
  <%= link_to @donation_record.project.name, @donation_record.project %>
</p>
<p>
  <strong><%= Fund.human_attribute_name :amount %>:</strong>
  <%= @fund.amount %>
</p>