<div class="common-form">
<%= form_for(@self_customer) do |f| %>
  <% if @self_customer.errors.any? %>
    <div id="error_explanation">
      <%= error_messages_for @self_customer %>
    </div>
  <% end %>

  <%= f.fields_for :customer do |c_f| %>
    <%= render 'customers/form', {f: c_f, of: f} %>
  <% end %>

  <div class="actions">
    <%= f.submit '提交'%>
  </div>
<% end %>
</div>
