<%= content_for :nav_bar_function_area do %>
  <% if current_user.user_type.downcase == :employee.to_s %>
    <%= link_to '编辑', edit_corporate_customer_path(@self_customer) %> |
    <%= link_to '返回', employee_manage_customers_path %>
    <% if current_user.account.to_s == 'fkadmin' %>
    |<%= link_to '删除', corporate_customer_path(@self_customer), method: :delete, data: { confirm: t('helpers.link.delete.confirm') } %>
    <% end %>
  <% end %>
<% end %>

<%= content_for :nav_bar_title do %>
    客户信息
<% end %>
<div class="info-show">
  <div class="info-block">
    <p>
      <div><strong><%= @self_customer.class.human_attribute_name :name %>：</strong> <span><%= @self_customer.name! %></span></div>
      <div><small>录入人： <span><%= link_to @self_customer.creator!.name, @self_customer.creator! %></span></small></div>
    </p>
  </div>
</div>
<div id="project-info">
  <%= render 'common_customers/info' %>

  <div class="info-block">
    <strong>负责人：</strong> 
    <% @self_customer.manager_link_men.each do |lm| %>
      <span><%= link_to lm.instance.name!, corporate_customer_link_man_path(@self_customer, lm.id) %></span>
    <% end %>
    <%= link_to new_corporate_customer_link_man_path(@self_customer, type: CorporateCustomer::LinkMan::LinkType.manager_id) do %>
      <%= button_tag '添加' %>
    <% end %>
  </div>
  <div class="info-block">
    <strong>联系人：</strong> 
    <% @self_customer.ordinary_link_men.each do |lm| %>
      <span><%= link_to lm.instance.name!, corporate_customer_link_man_path(@self_customer, lm.id) %></span>
    <% end %>
    <%= link_to new_corporate_customer_link_man_path(@self_customer, type: CorporateCustomer::LinkMan::LinkType.ordinary_id) do %>
      <%= button_tag '添加' %>
    <% end %>
  </div>
  <hr>

  <%= render 'common_customers/record' %>
</div>

