<%= content_for :nav_bar_function_area do %>
  <% if current_user.user_type.downcase == :employee.to_s %>
    <%= link_to '编辑', edit_corporate_customer_path(@self_customer) %> |
    <%= link_to '返回', employee_manage_customers_path %>
  <% end %>
<% end %>

<%= content_for :nav_bar_title do %>
    客户信息
<% end %>

<div class="info-show">
  <div class="info-block">
    <p>
      <div><strong><%= @self_customer.class.human_attribute_name :name %>：</strong> <span><%= @self_customer.name! %></span></div>
      <div><small>创建者： <span><%= current_people.name %></span></small></div>
    </p>
  </div>
</div>
<%= render 'common_customers/info' %>

<hr>
<div>
  <strong>联系人：</strong> 
  <% @self_customer.link_men.each do |lm| %>
    <span><%= link_to lm.name!, corporate_customer_link_man_path(@self_customer, lm.id) %></span>
  <% end %>
  <%= link_to new_corporate_customer_link_man_path(@self_customer) do %>
    <%= button_tag '添加' %>
  <% end %>
</div>

