<div class="common-form">

<%= form_for(@form_param) do |f| %>
  <% if @donation_record.errors.any? %>
    <div id="error_explanation">
      <%= error_messages_for @donation_record %>
    </div>
  <% end %>

  <%= f.fields_for :fund do |f_f| %>
    <div class="field">
      <%= f_f.label :amount %><br />
      <%= f_f.text_field :amount %>
    </div>
    <div class="field">
      <%= f_f.label '时间' %><br />
      <%= f_f.datetime_select :time, start_year: default_start_year, default: DateTime.now.beginning_of_day  %>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :customer %> <%= link_to '新建', new_customer_path, target: :_blank  %><br />
      <%= f.select(:customer_id, Customer.all.collect {|e| [ e.name, e.id ] }, { include_blank: true }) %>
    </div>

    <div class="field">
      <%= f.label :donation_type %> <%= link_to '新建', new_donation_type_path, target: :_blank  %><br />
      <%= f.select(:donation_type_id, DonationType.all.collect {|e| [ e.name, e.id ] }, { include_blank: true }) %>
    </div>

    <%= f.fields_for :fund do |f_f| %>
      <div class="field">
        <%= f_f.label :comment %><br />
        <%= f_f.text_area :comment %>
      </div>
    <% end %>

    <% if @donation_record.persisted? %>
      <%= f.label :project %><br />
      <%= f.select(:project_id, Project.all_spy.collect {|e| [ e.name, e.id ] }) %>
    <% else %>
      <%= f.hidden_field(:project_id) %>
    <% end %>

  
  <div class="actions">
    <%= f.submit '提交'%>
  </div>
<% end %>

</div>
