<h1>Listing donation_records</h1>

<table>
  <tr>
    <th>Customer project</th>
    <th>Employee</th>
    <th>Fund</th>
    <th>Donation type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donation_records.each do |donation_record| %>
  <tr>
    <td><%= donation_record.customer_project_id %></td>
    <td><%= donation_record.employee_id %></td>
    <td><%= donation_record.fund_id %></td>
    <td><%= donation_record.donation_type_id %></td>
    <td><%= link_to 'Show', donation_record %></td>
    <td><%= link_to 'Edit', edit_donation_record_path(donation_record) %></td>
    <td><%= link_to 'Destroy', donation_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Donation record', new_donation_record_path %>
