<%= content_for :nav_bar_function_area do %>
  <% if current_user.user_type == :Employee.to_s %>
    <%= link_to '返回项目', @project %>
  <% end %>
<% end %>
<%= content_for :nav_bar_title do %>
    捐赠记录
<% end %>
<div>
  <div>  
    <h4>附件</h4>
    <% @attachments.each do |a| %>
    <p><%= link_to a.filename, a.file.url %><span class='delete-attachment'><%= link_to t('helpers.link.delete.name'), attachment_donation_record_path(@donation_record, a), method: :delete, data: { confirm: t('helpers.link.delete.confirm') } %></span></p>
    <% end %>
    <div><%= link_to '新建', new_attachment_donation_record_path %></div>
  </div>
  <hr>
  <div>
    <h4>备注：</h4>
    <%= @donation_record.comment! %>
  </div>
  <hr>
<% if @donation_record.project.endowment %>
  <table>
    <thead>
      <tr>
        <th>利率%</th>
        <th>开始</th>
        <th>结束</th>
        <th>计息月数</th>
        <th>产生利息</th>
      </tr>
    </thead>

    <tbody>
      <% @donation_record.interest_periods.each do |ip| %>
      <tr>
        <td><%= ip.rate %></td>
        <td><%= l ip.start %></td>
        <td><%= l ip.end %></td>
        <td><%= ip.months %></td>
        <td class="currency-show"><%= money_show ip.amount %></td>
        <td><%= link_to "删除", donation_record_interest_period_path(ip), del_confirm %><br></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<%= link_to "添加计息周期", new_donation_record_interest_period_path(@donation_record) %><br>
<hr>
<% end %>
  <table>
    <thead>
      <tr>
        <th>金额</th>
        <th>时间</th>
        <% if @project.endowment %>
        <th>类型</th>
        <% end %>
        <th>进账凭证</th>
        <th>凭单号</th>
      </tr>
    </thead>

    <tbody>
      <% @donation_record.actual_funds.each do |actual_fund| %>
        <tr>
          <td class="currency-show"><%= money_show actual_fund.amount! %></td>
          <td><%= l_d actual_fund.time! %></td>
          <% if @project.endowment %>
          <td><%= t actual_fund.fund_type.name, scope: 'fund.type' %></td>
          <% end %>
          <td><%= (p=actual_fund.proof) ? link_to(p.filename, p.file.url) : '无'%></td>
          <td><%= actual_fund.serialnum %></td>
          <td><%= link_to '编辑', edit_donation_record_actual_fund_path(actual_fund) %></td>
          <td><%= link_to '删除', donation_record_actual_fund_path(actual_fund), del_confirm %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<%= link_to "添加到款", new_donation_record_actual_fund_path(@donation_record) %>