<%= content_for :nav_bar_title do %>
    捐赠记录
<% end %>
  <table>
  <thead>
    <tr>
      <th>金额</th>
      <th>时间</th>
    </tr>
  </thead>

  <tbody>
    <% @donation_record.actual_funds.each do |actual_fund| %>
      <tr>
        <td><%= actual_fund.amount %></td>
        <td><%= actual_fund.time %></td>
        <td><%= link_to '编辑', edit_donation_record_actual_fund_path(@donation_record, actual_fund) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "添加到款", new_donation_record_actual_fund_path(@donation_record.id) %>